{% extends 'layouts/base_content.html' %}
{% load static %}

{% block title %}Настройки AutoBidder для {{ campaign.name }}{% endblock title %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endblock extrastyle %}

{% block content %}
<div class="row">
    <div class="col-12">
        <!-- Form for creating/updating AutoBidder settings -->
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="create_settings" value="create_settings">
            <input type="hidden" name="id" value="create_settings">
            <div class="card card-primary">


                <form method="post">
                    <div class="card-header">
                        <h3 class="card-title">Настройки AutoBidder</h3>
                    </div>
                    <div class="card-body">

                        {% csrf_token %}
                        {% for field in create_form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <div class="invalid-feedback">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <button type="submit" name="create_settings" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </form>

        <!-- Position Ranges -->
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="position_ranges" value="position_ranges">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Диапазоны Позиции</h3>
                </div>
                <div class="card-body">
                    <div id="position-ranges">
                        {% for range in current_position_ranges %}
                        <div class="form-group">
                            {{ range.start_position.label_tag }} {{ range.start_position }}
                            {{ range.end_position.label_tag }} {{ range.end_position }}
                            {{ range.bid.label_tag }} {{ range.bid }}
                            <button type="button" class="btn btn-primary btn-sm" onclick="editRange({{ range.id }})">
                                Редактировать
                            </button>
                            <button type="submit" name="delete_range" value="{{ range.id }}"
                                    class="btn btn-danger btn-sm">Удалить
                            </button>
                        </div>
                        {% endfor %}
                    </div>
                    <div id="new-position-ranges"></div>
                    <button type="button" class="btn btn-success btn-sm" onclick="addPositionRange()">+</button>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Сохранить Диапазоны</button>
                </div>
            </div>
        </form>

        <!-- Intra-Day Schedule -->
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="intra_day_schedule" value="intra_day_schedule">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Внутридневное Расписание</h3>
                </div>
                <div class="card-body">
                    <div id="intra-day-schedule">
                        {% for schedule in current_intra_day_schedule %}
                        <div class="form-group">
                            {{ schedule.start_time.label_tag }} {{ schedule.start_time }}
                            {{ schedule.end_time.label_tag }} {{ schedule.end_time }}
                            <button type="button" class="btn btn-primary btn-sm"
                                    onclick="editIntraDaySchedule({{ schedule.id }})">Редактировать
                            </button>
                            <button type="submit" name="delete_intra_day_schedule" value="{{ schedule.id }}"
                                    class="btn btn-danger btn-sm">Удалить
                            </button>
                        </div>
                        {% endfor %}
                    </div>
                    <div id="new-intra-day-schedule"></div>
                    <button type="button" class="btn btn-success btn-sm" onclick="addIntraDaySchedule()">+</button>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Сохранить Расписание</button>
                </div>
            </div>
        </form>

        <!-- Weekly Schedule -->
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="weekly_schedule" value="weekly_schedule">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Еженедельное Расписание</h3>
                </div>
                <div class="card-body">
                    <div id="weekly-schedule">
                        {% for day in current_weekly_schedule %}
                        <div class="form-group">
                            {{ day.label_tag }} {{ day }}
                            <button type="button" class="btn btn-primary btn-sm"
                                    onclick="editWeeklySchedule({{ day.id }})">Редактировать
                            </button>
                            <button type="submit" name="delete_weekly_schedule" value="{{ day.id }}"
                                    class="btn btn-danger btn-sm">Удалить
                            </button>
                        </div>
                        {% endfor %}
                    </div>
                    <div id="new-weekly-schedule"></div>
                    <button type="button" class="btn btn-success btn-sm" onclick="addWeeklySchedule()">+</button>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Сохранить Расписание</button>
                </div>
            </div>
        </form>

        <!-- Logs and Chart -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Логи AutoBidder</h3>
            </div>
            <div class="card-body">
                <!-- Selectors for the chart -->
                <div class="form-group">
                    <label for="time_interval">Интервал времени:</label>
                    <select class="form-control select2bs4" id="time_interval">
                        <option value="5m">5 минут</option>
                        <option value="15m">15 минут</option>
                        <option value="1h">1 час</option>
                        <option value="4h">4 часа</option>
                        <option value="1d">День</option>
                        <option value="1w">Неделя</option>
                        <option value="1M">Месяц</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Период данных:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control float-right" id="date_range">
                    </div>
                </div>
                <div class="form-group">
                    <label for="destination">Локация:</label>
                    <select class="form-control select2bs4" id="destination">
                        <!-- Options dynamically generated from the backend -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="product_id">Товар:</label>
                    <select class="form-control select2bs4" id="product_id">
                        <!-- Options dynamically generated from the backend -->
                    </select>
                </div>
                <button type="button" class="btn btn-primary" onclick="updateChart()">Обновить график</button>

                <!-- Chart.js canvas -->
                <canvas id="autobidderChart" style="height: 400px;"></canvas>

                <canvas id="statChart"></canvas>
                <button type="button" class="btn btn-primary" onclick="updateStatChart()">Обновить график статистики</button>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>

<script>
    function addPositionRange() {
        const container = document.getElementById('new-position-ranges');
        const newRange = document.createElement('div');
        newRange.classList.add('form-group');
        newRange.innerHTML = `
            <input type="text" name="start_position" placeholder="Start Position" class="form-control">
            <input type="text" name="end_position" placeholder="End Position" class="form-control">
            <input type="text" name="bid" placeholder="Bid" class="form-control">
            <button type="button" class="btn btn-danger btn-sm" onclick="removeElement(this)">Удалить</button>
        `;
        container.appendChild(newRange);
    }

    function addIntraDaySchedule() {
        const container = document.getElementById('new-intra-day-schedule');
        const newSchedule = document.createElement('div');
        newSchedule.classList.add('form-group');
        newSchedule.innerHTML = `
            <input type="text" name="start_time" placeholder="Start Time" class="form-control">
            <input type="text" name="end_time" placeholder="End Time" class="form-control">
            <button type="button" class="btn btn-danger btn-sm" onclick="removeElement(this)">Удалить</button>
        `;
        container.appendChild(newSchedule);
    }

    function addWeeklySchedule() {
        const container = document.getElementById('new-weekly-schedule');
        const newSchedule = document.createElement('div');
        newSchedule.classList.add('form-group');
        newSchedule.innerHTML = `
            <input type="text" name="day_of_week" placeholder="Day" class="form-control">
            <button type="button" class="btn btn-danger btn-sm" onclick="removeElement(this)">Удалить</button>
        `;
        container.appendChild(newSchedule);
    }

    function editRange(id) {
        const start_position = prompt('Enter new start position:');
        const end_position = prompt('Enter new end position:');
        const bid = prompt('Enter new bid:');
        if (start_position !== null && end_position !== null && bid !== null) {
            const form = document.createElement('form');
            form.method = 'post';
            form.innerHTML = `
                {% csrf_token %}
                <input type="hidden" name="edit_range" value="${id}">
                <input type="hidden" name="start_position" value="${start_position}">
                <input type="hidden" name="end_position" value="${end_position}">
                <input type="hidden" name="bid" value="${bid}">
            `;
            document.body.appendChild(form);
            form.submit();
        }
    }

    function editIntraDaySchedule(id) {
        const start_time = prompt('Enter new start time:');
        const end_time = prompt('Enter new end time:');
        if (start_time !== null && end_time !== null) {
            const form = document.createElement('form');
            form.method = 'post';
            form.innerHTML = `
                {% csrf_token %}
                <input type="hidden" name="edit_intra_day_schedule" value="${id}">
                <input type="hidden" name="start_time" value="${start_time}">
                <input type="hidden" name="end_time" value="${end_time}">
            `;
            document.body.appendChild(form);
            form.submit();
        }
    }

    function editWeeklySchedule(id) {
        const day = prompt('Enter new day:');
        if (day !== null) {
            const form = document.createElement('form');
            form.method = 'post';
            form.innerHTML = `
                {% csrf_token %}
                <input type="hidden" name="edit_weekly_schedule" value="${id}">
                <input type="hidden" name="day_of_week" value="${day}">
            `;
            document.body.appendChild(form);
            form.submit();
        }
    }

    function removeElement(element) {
        element.parentElement.remove();
    }

// Initialize Select2 Elements
    jQuery('.select2bs4').select2({
                theme: 'bootstrap4'
    });
    $('#date_range').daterangepicker({
                //opens: 'right', // Change this based on your requirement
                //autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Clear',
                    format: 'DD-MM-YYYY' // Specify the format used in the picker
                }
            });






    // Fetch destinations and products dynamically
    fetchDestinations();
    fetchProducts();

    function fetchDestinations() {
        // Fetch destinations from the server (replace with actual API endpoint)
        $.ajax({
            url: '{% url "api_get_destinations" %}',
            method: 'GET',
            success: function(data) {
                $('#destination').empty();
                $.each(data, function(index, value) {
                    $('#destination').append($('<option>', {
                        value: value.id,
                        text: value.name
                    }));
                });
            }
        });
    }

    function fetchProducts() {
        // Fetch products from the server (replace with actual API endpoint)
        $.ajax({
            url: '{% url "api_get_products" %}',
            method: 'GET',
            data: {"campaign_id": "{{ campaign.id }}"},
            success: function(data) {
                $('#product_id').empty();
                $.each(data, function(index, value) {
                    $('#product_id').append($('<option>', {
                        value: value.id,
                        text: value.name
                    }));
                });
            }
        });
    }

    // Function to update the chart
    let autobidderChart; // Глобальная переменная для хранения экземпляра графика
    let statChart; // Глобальная переменная для хранения экземпляра графика

    function getRandomColor() {
    const letters = '0123456789ABCDEF';
    let color = '#';
    for (let i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}

function updateChart() {
    const timeInterval = $('#time_interval').val();
    const dateRange = $('#date_range').val();
    const destination = $('#destination').val();
    const productId = $('#product_id').val();
    const campaignId = '{{ campaign.id }}';

    $.ajax({
        url: '{% url "api_get_chart_data" %}',
        method: 'POST',
        data: {
            time_interval: timeInterval,
            date_range: dateRange,
            destination: destination,
            product_id: productId,
            campaign_id: campaignId,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(data) {
            const ctx = document.getElementById('autobidderChart').getContext('2d');

            // Если график уже существует, уничтожаем его перед созданием нового
            if (autobidderChart) {
                autobidderChart.destroy();
            }

            // Применяем случайные цвета к каждому dataset
            data.datasets.forEach(dataset => {
                const color = getRandomColor();
                dataset.borderColor = color;
                dataset.backgroundColor = color;
                dataset.fill = false; // Не заполнять область под линией
            });

            autobidderChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: data.labels,
                    datasets: data.datasets
                },
                options: {
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: timeInterval
                            },
                            title: {
                                display: true,
                                text: 'Время'
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Позиция товара'
                            }
                        }
                    }
                }
            });
        }
    });
}
function updateStatChart() {
    const timeInterval = $('#time_interval').val();
    const dateRange = $('#date_range').val();
    const destination = $('#destination').val();
    const productId = $('#product_id').val();
    const campaignId = '{{ campaign.id }}';

    $.ajax({
        url: '{% url "api_get_stat_chart_data" %}',
        method: 'POST',
        data: {
            time_interval: timeInterval,
            date_range: dateRange,
            destination: destination,
            product_id: productId,
            campaign_id: campaignId,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(data) {
            const ctx = document.getElementById('statChart').getContext('2d');

            // Если график уже существует, уничтожаем его перед созданием нового
            if (statChart) {
                statChart.destroy();
            }

            // Применяем случайные цвета к каждому dataset
            data.datasets.forEach(dataset => {
                const color = getRandomColor();
                dataset.borderColor = color;
                dataset.backgroundColor = color;
                dataset.fill = false; // Не заполнять область под линией
            });

            statChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: data.labels,
                    datasets: data.datasets
                },
                options: {
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: timeInterval
                            },
                            title: {
                                display: true,
                                text: 'Время'
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Единицы'
                            }
                        }
                    }
                }
            });
        }
    });
}
</script>
{% endblock %}
