<!-- templates/wildberries/edit_store.html -->
{% extends 'layouts/base_content.html' %}
{% load static %}

{% block title %} Редактировать магазин {% endblock title %}

{% block extrastyle %}
  <!-- дополнительные стили, если нужно -->
{% endblock extrastyle %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Информация о магазине</h3>
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="card-body">
          <div class="form-group">
            <label for="id_name">Наименование магазина</label>
            {{ form.name }}
          </div>
          <div class="form-group">
            <label for="id_wildberries_name">Наименование в системе Вайлдберриз</label>
            {{ form.wildberries_name }}
          </div>
          <div class="form-group">
            <label for="id_wildberries_api_key">АПИ ключ Вайлдберриз</label>
            {{ form.wildberries_api_key }}
            {% if form.wildberries_api_key.errors %}
              <div class="text-danger">
                {{ form.wildberries_api_key.errors }}
              </div>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="id_status">Статус</label>
            {{ form.status }}
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
