#copy this file and rename to .env for use


# Тип среды (разработка или продакшн)
DJANGO_ENV=development  # или production

# True for development, False for production
DEBUG=True

SECRET_KEY=<STRONG_KEY_HERE>

DB_ENGINE=mysql
DB_HOST=localhost
DB_NAME=appseed_db
DB_USERNAME=appseed_db_usr
DB_PASS=pass
DB_PORT=3306

# for docker CELERY_BROKER_URL=redis://redis:6379/0
# for hosted CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_BROKER_URL='redis://redis:6379/0'

# for docker CELERY_RESULT_BACKEND=redis://redis:6379/0
# for hosted CELERY_RESULT_BACKEND=redis://localhost:6379/0
CELERY_RESULT_BACKEND='redis://redis:6379/0'

# for docker CACHE_LOCATION_URL=redis://redis:6379/0
# for hosted CACHE_LOCATION_URL=redis://localhost:6379/0
CACHE_LOCATION_URL='redis://redis:6379/0'
CACHE_BACKEND='django_redis.cache.RedisCache'
CACHE_CLIENT='django_redis.client.DefaultClient'

BINANCE_API_KEY=your_binance_api_key
BINANCE_API_SECRET=your_binance_api_secret

BYBIT_API_KEY=your_bybit_api_key
BYBIT_API_SECRET=your_bybit_api_secret

# Настройки SMTP
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587  # или 465, но тогда EMAIL_USE_TLS=False и EMAIL_USE_SSL=True
EMAIL_USE_TLS=True  # или False, если используете 465 с SSL
EMAIL_USE_SSL=False  # True, если используете 465
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-email-password
DEFAULT_FROM_EMAIL=your-email@gmail.com
DEFAULT_TO_TEST_EMAIL=your-email@gmail.com