{% extends 'layouts/auth_base.html' %}

{% block title %} Email sent {% endblock title %}

{% block bodyclass %} login-page {% endblock bodyclass %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href="/">Tonantis Metrics</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Мы отправили на вашу электронную почту письмо со ссылкой для смены пароля. Пожалуйста, перейдите по ней для начала процедуры изменения пароля.</p>

      <p class="mt-3 mb-1">
        <a href="{% url 'login' %}">Вход</a>
      </p>
      <p class="mb-0">
        <a href="{% url 'register' %}" class="text-center">Регистрация нового аккаунта</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>

{% endblock %}
