{% extends 'layouts/auth_base.html' %}

{% block title %} Reset Complete {% endblock title %}

{% block bodyclass %} login-page {% endblock bodyclass %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href="/">Tonantis Metrics</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Ваш пароль успешно изменен. Теперь вы можете войти в свой личный кабинет с новым паролем.</p>

      <p class="mt-3 mb-1">
        <a href="{% url 'login' %}">Войти</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>

{% endblock %}
