{% extends 'layouts/auth_base.html' %}

{% block title %} Reset Complete {% endblock title %}

{% block bodyclass %} login-page {% endblock bodyclass %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href="/">Tonantis Metrics</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Ваш пароль успешно изменен.</p>
      <a href="/">Перейти в панель управления</a>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>

{% endblock %}
